pymunk==6.0.0
Pillow==8.0.1  # only for cookAnimations module
PyOpenGL==3.1.5
easygui==0.98.1  # only for _mapTools module
numpy==1.19.4
pip==20.3.3
pygame==2.0.1
setuptools==51.1.1
cython==0.29.21  # only for setup.py
# freetype-py==2.2.0  UNUSED